<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}/logs/internal-nlog.log">

  <!-- Enable ASP.NET core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- Define log targets -->
  <targets>
    <!-- File Target for all log messages -->
    <target xsi:type="File" name="allfile" fileName="${basedir}/logs/all-logs-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <!-- File Target for own log messages with extra web details -->
    <target xsi:type="File" name="web" fileName="${basedir}/logs/web-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}" />

    <!-- Debug Target -->
    <target xsi:type="File" name="debug" fileName="${basedir}/logs/debug-${shortdate}.log" 
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|${callsite:className=true:methodName=true}" />

    <!-- Error Target -->
    <target xsi:type="File" name="error" fileName="${basedir}/logs/error-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|${callsite}|${stacktrace}" />

    <!-- Console Target -->
    <target xsi:type="Console" name="console"
            layout="${level:truncate=4:lowercase=true}: ${logger}: ${message}${exception:format=tostring}" />
  </targets>

  <!-- Rules for mapping loggers to targets -->
  <rules>
    <!-- All logs, including from Microsoft -->
    <logger name="*" minlevel="Trace" writeTo="allfile" />

    <!-- Skip non-critical Microsoft logs and so log only own logs -->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="System.Net.Http.*" maxlevel="Info" final="true" />
    
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Debug" writeTo="web" />
    <logger name="*" minlevel="Debug" writeTo="debug" />
    <logger name="*" minlevel="Error" writeTo="error" />
  </rules>
</nlog>
